.collection {
  margin: 1rem 0;
}

.collection-wrapper {
  margin: 1rem 0;
}

.collections-header {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collections-header p {
  font-size: 1.2rem;
  color: rgb(116, 116, 116);
}

.collections-header .collection-link {
  color: tomato;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collection-link i {
  margin-left: 0.5rem;
}

.slick-next:before,
.slick-prev:before {
  color: gray;
  font-size: 1.6rem;
}
