.brandsItem {
  display: flex;
  align-items: center;
}

.brandsItemImage {
  background-color: #fff;
  text-align: center;
  padding: 1rem 0;
}

.brandsItemImage img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 2px 2px 10px #bebebe;
}

.brands-item-title {
  font-size: 20px;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 10px 0 6px 0;
}

.slick-next:before,
.slick-prev:before {
  color: gray;
  font-size: 1.6rem;
}
